{% extends 'AdminBase.html.twig' %}

{% block title %}Blog Post Details{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/admin-blog-details.css') }}">
{% endblock %}

{% block body %}
<div class="row y-gap-20 justify-between items-end pb-30 lg:pb-20 md:pb-15">
  <div class="col-auto">
    <h1 class="text-30 lh-14 fw-600">Blog Post Details</h1>
    <div class="text-15 text-light-1">View and manage blog post details</div>
  </div>
  <div class="col-auto">
    <a href="{{ path('app_admin_blog_index') }}" class="button -md -dark-1 bg-blue-1 text-white back-btn">
      <i class="icon-arrow-left text-15 mr-10"></i>
      Back to Blog List
    </a>
  </div>
</div>

<div class="blog-details-container">
  <div class="row">
    <div class="col-12">
      <div class="blog-content">
        <div class="blog-header">
          <div class="blog-badge">{{ activity.activityName }}</div>
          <h1 class="blog-title">{{ post.title }}</h1>
          <div class="blog-meta">
            <div class="blog-meta-item">
              <i class="icon-user"></i>
              <span>{{ author.name }} {{ author.lastname }}</span>
            </div>
            <div class="blog-meta-item">
              <i class="icon-calendar"></i>
              <span>{{ post.date|date('M d, Y') }}</span>
            </div>
            <div class="blog-meta-item">
              <i class="icon-message"></i>
              <span>{{ comments|length }} Comments</span>
            </div>
          </div>
        </div>
        
        {% if post.picture %}
        <div class="blog-image-container">
          <img src="{{ asset('uploads/posts/' ~ post.picture) }}" alt="{{ post.title }}" class="blog-image" onclick="viewImage('{{ asset('uploads/posts/' ~ post.picture) }}', '{{ post.title }}')">
        </div>
        {% endif %}
        
        <div class="blog-description">
          {{ post.description|raw }}
        </div>
        
        <div class="blog-actions">
          <a href="{{ path('app_admin_blog_delete', {'id': post.id}) }}" 
             onclick="event.preventDefault(); confirmDeletePost('{{ post.id }}', '{{ post.title }}', '{{ path('app_admin_blog_delete', {'id': post.id}) }}');" 
             class="action-btn delete-btn">
            <i class="icon-trash"></i> Delete Post
          </a>
        </div>
      </div>
    </div>
    
    <div class="col-12 mt-4">
      <div class="comments-section">
        <div class="comments-header">
          <h4 class="comments-title">Comments</h4>
          <span class="comment-badge">{{ comments|length }} total</span>
        </div>
        
        {% if comments|length > 0 %}
          {% for comment in comments %}
            <div class="comment-item">
              <div class="comment-header">
                <div class="comment-user">
                  {{ commentAuthors[comment.userId].name }} {{ commentAuthors[comment.userId].lastname }}
                </div>
                <div class="comment-date">
                  {{ comment.date|date('M d, Y - H:i') }}
                </div>
              </div>
              <div class="comment-content">
                {{ comment.comment }}
              </div>
              <div class="comment-actions">
                <a href="{{ path('app_admin_blog_comment_delete', {'id': comment.id}) }}" 
                   onclick="event.preventDefault(); confirmDeleteComment('{{ comment.id }}', '{{ path('app_admin_blog_comment_delete', {'id': comment.id}) }}');" 
                   class="action-btn delete-btn comment-btn" data-bs-toggle="tooltip" title="Delete Comment">
                  <i class="icon-trash"></i> Delete
                </a>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="no-comments">
            <i class="icon-message"></i>
            <div class="no-comments-title">No comments yet</div>
            <div class="no-comments-text">There are no comments on this post yet.</div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function confirmDeleteComment(commentId, deleteUrl) {
    Swal.fire({
      title: 'Are you sure?',
      text: 'You are about to delete this comment. This action cannot be undone.',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: 'Yes, delete it!',
      cancelButtonText: 'Cancel'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = deleteUrl;
      }
    });
  }
</script>
<script src="{{ asset('assets/js/admin-blog-details.js') }}"></script>
{% endblock %}
