{% extends 'PubBase.html.twig' %}

{% block title %}Reservation Management{% endblock %}

{% block body %}
<!-- Hidden element to store URL data for JavaScript -->
<div id="js-update-url-template" data-url="{{ path('app_reservation_update_status', {'id': 'ID_PLACEHOLDER', 'status': 'STATUS_PLACEHOLDER'}) }}" style="display:none;"></div>

<div class="row y-gap-20 justify-between items-end pb-40 lg:pb-30 md:pb-24">
    <div class="col-auto">
        <div class="d-flex items-center">
            <div class="size-60 flex-center bg-blue-1-05 rounded-full mr-15">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#3554D1" class="bi bi-calendar-check" viewBox="0 0 16 16">
                    <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                </svg>
            </div>
            <div>
                <h1 class="text-30 lh-14 fw-600">Reservation Management</h1>
                <div class="text-15 text-light-1 mt-5">Manage customer bookings for your activities</div>
            </div>
        </div>
    </div>
</div>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert mb-30 fade-in">
            <div class="px-24 py-20 bg-{% if label == 'success' %}blue-1{% else %}red-1{% endif %} text-white rounded-8 shadow-1">
                <div class="row x-gap-10 y-gap-10 items-center">
                    <div class="col-auto">
                        <div class="d-flex items-center">
                            <div class="size-40 flex-center bg-white bg-opacity-20 rounded-full mr-10">
                                <i class="icon-{% if label == 'success' %}check{% else %}close{% endif %} text-18"></i>
                            </div>
                            <div class="fw-500">{{ message }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}

<div class="py-40 px-40 rounded-8 bg-white shadow-4">
    {% if reservations is empty %}
        <div class="row justify-center py-40">
            <div class="col-lg-6 col-md-8 text-center">
                <div class="size-80 flex-center bg-blue-1-05 rounded-full mx-auto mb-30 shadow-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#3554D1" class="bi bi-calendar-x" viewBox="0 0 16 16">
                        <path d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                </div>
                <h2 class="text-24 fw-600 text-center mb-15">No Reservations Found</h2>
                <div class="text-15 text-light-1 text-center mb-30">You don't have any reservations for your activities yet. When customers book your activities, they'll appear here.</div>
            </div>
        </div>
    {% else %}
        <div class="mb-30">
            <div class="d-flex items-center justify-between">
                <h3 class="text-22 fw-600">Manage Reservations</h3>
                <div class="d-flex items-center gap-10">
                    <!-- Add search or filter options here if needed -->
                </div>
            </div>
        </div>
        
        <div class="tabs -underline-2 js-tabs">
            <div class="tabs__controls d-flex x-gap-30 y-gap-10 items-center border-bottom-light pb-20 mb-20 js-tabs-controls">
                <div>
                    <button class="tabs__button text-16 fw-500 pb-10 js-tabs-button is-tab-el-active" data-tab-target=".-tab-item-1">
                        <div class="d-flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-list-ul mr-10" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                            <span>All Reservations</span>
                        </div>
                    </button>
                </div>
                <div>
                    <button class="tabs__button text-16 fw-500 pb-10 js-tabs-button" data-tab-target=".-tab-item-2">
                        <div class="d-flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-check-circle mr-10" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                            </svg>
                            <span>Confirmed</span>
                        </div>
                    </button>
                </div>
                <div>
                    <button class="tabs__button text-16 fw-500 pb-10 js-tabs-button" data-tab-target=".-tab-item-3">
                        <div class="d-flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-circle mr-10" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <span>Cancelled</span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="tabs__content js-tabs-content">
                <div class="tabs__pane -tab-item-1 is-tab-el-active">
                    <div class="overflow-x-auto responsive-table-container">
                        <table class="table table-hover y-gap-40 text-15 border-light rounded-8">
                            <thead>
                                <tr class="bg-blue-1-05 text-blue-1">
                                    <th class="py-15 px-15 rounded-top-left-8">Reservation #</th>
                                    <th class="py-15 px-15">Activity</th>
                                    <th class="py-15 px-15">Customer</th>
                                    <th class="py-15 px-15">Date</th>
                                    <th class="py-15 px-15">Tickets</th>
                                    <th class="py-15 px-15">Price</th>
                                    <th class="py-15 px-15">Status</th>
                                    <th class="py-15 px-15 rounded-top-right-8">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reservation in reservations %}
                                    {% set billet = reservation.billet %}
                                    {% set activityId = billet.activiteId %}
                                    {% set activity = activities[activityId] %}
                                    <tr class="border-bottom-light fade-in reservation-row hover-bg-light" data-id="{{ reservation.id }}">
                                        <td class="py-15 px-15">
                                            <div class="d-flex items-center">
                                                <div class="size-35 flex-center rounded-4 bg-blue-1-05 mr-10">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3554D1" class="bi bi-ticket-perforated" viewBox="0 0 16 16">
                                                        <path d="M4 4.85v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Z"/>
                                                        <path d="M1.5 3A1.5 1.5 0 0 0 0 4.5v7A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 14.5 3h-13ZM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7Z"/>
                                                    </svg>
                                                </div>
                                                <div class="text-15 fw-500 text-blue-1">#{{ reservation.id }}</div>
                                            </div>
                                        </td>
                                        <td class="py-15 px-15">
                                            <div class="text-15 fw-500">{{ activity.activityName|default('Unknown Activity') }}</div>
                                            <div class="text-14 text-light-1">{{ activity.activityDestination|default('') }}</div>
                                        </td>
                                        <td class="py-15 px-15">
                                            <div class="d-flex items-center">
                                                <div class="mr-10">
                                                    <div class="size-40 flex-center rounded-full bg-blue-1-05">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#3554D1" class="bi bi-person" viewBox="0 0 16 16">
                                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="text-15 fw-500">{{ reservation.user.name }} {{ reservation.user.lastname }}</div>
                                                    <div class="text-14 text-light-1">{{ reservation.user.email }}</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="py-15 px-15">
                                            <div class="text-15 fw-500">{{ reservation.dateAchat|date('M d, Y') }}</div>
                                            <div class="text-14 text-light-1">{{ reservation.dateAchat|date('H:i') }}</div>
                                        </td>
                                        <td class="py-15 px-15">
                                            <div class="d-flex items-center">
                                                <div class="size-35 flex-center rounded-4 bg-blue-1-05 mr-10">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3554D1" class="bi bi-people" viewBox="0 0 16 16">
                                                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                                                    </svg>
                                                </div>
                                                <div class="text-15 fw-500">{{ reservation.nombre }}</div>
                                            </div>
                                        </td>
                                        <td class="py-15 px-15">
                                            <div class="text-15 fw-500">${{ reservation.prixTotal }}</div>
                                            <div class="text-14 text-light-1">(${{ reservation.prixUnite }} each)</div>
                                        </td>
                                        <td class="py-15 px-15">
                                            <div class="rounded-100 py-10 px-15 text-center text-14 fw-500 d-inline-block
                                                {% if reservation.statuts|lower == 'confirmed' %}bg-blue-1 text-white
                                                {% elseif reservation.statuts|lower == 'cancelled' %}bg-red-1 text-white
                                                {% elseif reservation.statuts|lower == 'completed' %}bg-green-1 text-white
                                                {% elseif reservation.statuts|lower == 'rejected' %}bg-red-2 text-white
                                                {% else %}bg-yellow-1 text-dark-1{% endif %}">
                                                
                                                <div class="d-flex items-center justify-center">
                                                    {% if reservation.statuts|lower == 'confirmed' %}
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle-fill mr-5" viewBox="0 0 16 16">
                                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                                        </svg>
                                                    {% elseif reservation.statuts|lower == 'cancelled' or reservation.statuts|lower == 'rejected' %}
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-circle-fill mr-5" viewBox="0 0 16 16">
                                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                                        </svg>
                                                    {% elseif reservation.statuts|lower == 'completed' %}
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-trophy-fill mr-5" viewBox="0 0 16 16">
                                                            <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
                                                        </svg>
                                                    {% else %}
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-hourglass-split mr-5" viewBox="0 0 16 16">
                                                            <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                                                        </svg>
                                                    {% endif %}
                                                    <span>{{ reservation.statuts }}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column gap-2">
                                                {% if reservation.statuts|lower == 'pending' %}
                                                    <form action="{{ path('app_reservation_update_status', {'id': reservation.id, 'status': 'Confirmed'}) }}" method="post" class="mb-2">
                                                        <button type="submit" class="button -sm py-10 px-15 -blue-1 bg-blue-1-05 text-blue-1 hover-animation w-100">
                                                            <i class="icon-check mr-5"></i> Accept
                                                        </button>
                                                    </form>
                                                    <form action="{{ path('app_reservation_update_status', {'id': reservation.id, 'status': 'Rejected'}) }}" method="post">
                                                        <button type="submit" class="button -sm py-10 px-15 -red-1 bg-red-3 text-red-2 hover-animation w-100">
                                                            <i class="icon-close mr-5"></i> Reject
                                                        </button>
                                                    </form>
                                                {% endif %}
                                                <button type="button" class="button -sm py-10 px-15 -dark-1 bg-light-2 hover-animation view-details"
                                                        data-id="{{ reservation.id }}" 
                                                        data-customer="{{ reservation.user.name }} {{ reservation.user.lastname }}" 
                                                        data-email="{{ reservation.user.email }}" 
                                                        data-phone="{{ reservation.user.phone|default('Not provided') }}"
                                                        data-date="{{ reservation.dateAchat|date('Y-m-d H:i') }}"
                                                        data-activity="{{ activity.activityName }}"
                                                        data-tickets="{{ reservation.nombre }}"
                                                        data-price-each="{{ reservation.prixUnite }}"
                                                        data-total="{{ reservation.prixTotal }}"
                                                        data-status="{{ reservation.statuts }}"
                                                        data-ticket-number="{{ billet.numero }}">
                                                    <i class="bi bi-info-circle mr-5"></i> Details
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="reservation-details-{{ reservation.id }}" style="display: none;">
                                        <td colspan="8" class="p-0">
                                            <div class="bg-light-2 p-20 rounded-4 mt-10 mb-10">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h5 class="text-16 fw-500 mb-15">Customer Details</h5>
                                                        <div class="mb-5"><strong>Name:</strong> {{ reservation.user.name }} {{ reservation.user.lastname }}</div>
                                                        <div class="mb-5"><strong>Email:</strong> {{ reservation.user.email }}</div>
                                                        <div class="mb-5"><strong>Phone:</strong> {{ reservation.user.phone|default('Not provided') }}</div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <h5 class="text-16 fw-500 mb-15">Ticket Details</h5>
                                                        <div class="mb-5"><strong>Ticket Number:</strong> {{ billet.numero }}</div>
                                                        <div class="mb-5"><strong>Activity:</strong> {{ activity.activityName }}</div>
                                                        <div class="mb-5"><strong>Date Purchased:</strong> {{ reservation.dateAchat|date('Y-m-d H:i') }}</div>
                                                        <div class="mb-5"><strong>Price Per Ticket:</strong> $ {{ reservation.prixUnite }}</div>
                                                        <div class="mb-5"><strong>Total Price:</strong> $ {{ reservation.prixTotal }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tabs__pane -tab-item-2">
                    <div class="overflow-x-auto responsive-table-container">
                        <table class="reservation-table">
                            <thead>
                                <tr>
                                    <th class="py-15 px-15 rounded-top-left-8">Reservation #</th>
                                    <th class="py-15 px-15">Activity</th>
                                    <th class="py-15 px-15">Customer</th>
                                    <th class="py-15 px-15">Date</th>
                                    <th class="py-15 px-15">Tickets</th>
                                    <th class="py-15 px-15">Price</th>
                                    <th class="py-15 px-15">Status</th>
                                    <th class="py-15 px-15 rounded-top-right-8">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set confirmedFound = false %}
                                {% for reservation in reservations %}
                                    {% if reservation.statuts|lower == 'confirmed' or reservation.statuts|lower == 'pending' %}
                                        {% set confirmedFound = true %}
                                        {% set billet = reservation.billet %}
                                        {% set activityId = billet.activiteId %}
                                        {% set activity = activities[activityId] %}
                                        <tr class="border-bottom-light fade-in reservation-row hover-bg-light" data-id="{{ reservation.id }}">
                                            <td class="py-15 px-15">
                                                <div class="text-blue-1 fw-500">REV-{{ reservation.id }}</div>
                                                <div class="text-14 text-light-1">{{ billet.numero }}</div>
                                            </td>
                                            <td class="py-15 px-15">
                                                <div class="fw-500 text-14">{{ activity.activityName }}</div>
                                            </td>
                                            <td class="py-15 px-15">
                                                <div class="fw-500">{{ reservation.user.name }} {{ reservation.user.lastname }}</div>
                                                <div class="text-14 text-light-1">{{ reservation.user.email }}</div>
                                            </td>
                                            <td class="py-15 px-15">{{ reservation.dateAchat|date('Y-m-d') }}</td>
                                            <td class="py-15 px-15">
                                                <div class="fw-500">{{ reservation.nombre }}</div>
                                                <div class="text-14 text-light-1">$ {{ reservation.prixUnite }} each</div>
                                            </td>
                                            <td class="py-15 px-15">$ {{ reservation.prixTotal }}</td>
                                            <td class="py-15 px-15">
                                                <div class="rounded-100 py-4 px-15 text-center text-14 fw-500 
                                                    {% if reservation.statuts|lower == 'confirmed' %}bg-blue-1-05 text-blue-1
                                                    {% elseif reservation.statuts|lower == 'cancelled' %}bg-red-3 text-red-2
                                                    {% elseif reservation.statuts|lower == 'completed' %}bg-green-1 text-white
                                                    {% elseif reservation.statuts|lower == 'rejected' %}bg-red-3 text-red-2
                                                    {% else %}bg-yellow-4 text-yellow-3{% endif %}">
                                                    {{ reservation.statuts }}
                                                </div>
                                            </td>
                                            <td class="py-15 px-15">
                                                <div class="d-flex flex-column gap-2">
                                                    {% if reservation.statuts|lower == 'pending' %}
                                                        <form action="{{ path('app_reservation_update_status', {'id': reservation.id, 'status': 'Confirmed'}) }}" method="post" class="mb-2">
                                                            <button type="submit" class="button -sm py-10 px-15 -blue-1 bg-blue-1-05 text-blue-1 hover-animation w-100">
                                                                <i class="icon-check mr-5"></i> Accept
                                                            </button>
                                                        </form>
                                                        <form action="{{ path('app_reservation_update_status', {'id': reservation.id, 'status': 'Rejected'}) }}" method="post">
                                                            <button type="submit" class="button -sm py-10 px-15 -red-1 bg-red-3 text-red-2 hover-animation w-100">
                                                                <i class="icon-close mr-5"></i> Reject
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                    {# Removed Mark Completed and Cancel buttons for confirmed reservations as requested #}
                                                    <button type="button" class="button -sm py-10 px-15 -dark-1 bg-light-2 hover-animation view-details"
                                                            data-id="{{ reservation.id }}" 
                                                            data-customer="{{ reservation.user.name }} {{ reservation.user.lastname }}" 
                                                            data-email="{{ reservation.user.email }}" 
                                                            data-phone="{{ reservation.user.phone|default('Not provided') }}"
                                                            data-date="{{ reservation.dateAchat|date('Y-m-d H:i') }}"
                                                            data-activity="{{ activity.activityName }}"
                                                            data-tickets="{{ reservation.nombre }}"
                                                            data-price-each="{{ reservation.prixUnite }}"
                                                            data-total="{{ reservation.prixTotal }}"
                                                            data-status="{{ reservation.statuts }}"
                                                            data-ticket-number="{{ billet.numero }}">
                                                        <i class="bi bi-info-circle mr-5"></i> Details
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="reservation-details-{{ reservation.id }}" style="display: none;">
                                            <td colspan="8" class="p-0">
                                                <div class="bg-light-2 p-20 rounded-4 mt-10 mb-10">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h5 class="text-16 fw-500 mb-15">Customer Details</h5>
                                                            <div class="mb-5"><strong>Name:</strong> {{ reservation.user.name }} {{ reservation.user.lastname }}</div>
                                                            <div class="mb-5"><strong>Email:</strong> {{ reservation.user.email }}</div>
                                                            <div class="mb-5"><strong>Phone:</strong> {{ reservation.user.phone|default('Not provided') }}</div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <h5 class="text-16 fw-500 mb-15">Ticket Details</h5>
                                                            <div class="mb-5"><strong>Ticket Number:</strong> {{ billet.numero }}</div>
                                                            <div class="mb-5"><strong>Activity:</strong> {{ activity.activityName }}</div>
                                                            <div class="mb-5"><strong>Date Purchased:</strong> {{ reservation.dateAchat|date('Y-m-d H:i') }}</div>
                                                            <div class="mb-5"><strong>Price Per Ticket:</strong> $ {{ reservation.prixUnite }}</div>
                                                            <div class="mb-5"><strong>Total Price:</strong> $ {{ reservation.prixTotal }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                {% if not confirmedFound %}
                                    <tr>
                                        <td colspan="8" class="text-center py-20">No confirmed reservations found</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tabs__pane -tab-item-3">
                    <div class="overflow-x-auto responsive-table-container">
                        <table class="table y-gap-40 text-15">
                            <thead class="bg-light-2">
                                <tr>
                                    <th>Reservation #</th>
                                    <th>Activity</th>
                                    <th>Customer</th>
                                    <th>Date</th>
                                    <th>Tickets</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set cancelledFound = false %}
                                {% for reservation in reservations %}
                                    {% if reservation.statuts == 'Cancelled' %}
                                        {% set cancelledFound = true %}
                                        {% set billet = reservation.billet %}
                                        {% set activityId = billet.activiteId %}
                                        {% set activity = activities[activityId] %}
                                        <tr class="border-bottom-light fade-in reservation-row hover-bg-light" data-id="{{ reservation.id }}">
                                            <td class="py-15 px-15">
                                                <div class="text-blue-1 fw-500">REV-{{ reservation.id }}</div>
                                                <div class="text-14 text-light-1">{{ billet.numero }}</div>
                                            </td>
                                            <td class="py-15 px-15">
                                                <div class="fw-500 text-14">{{ activity.activityName }}</div>
                                            </td>
                                            <td class="py-15 px-15">
                                                <div class="fw-500">{{ reservation.user.name }} {{ reservation.user.lastname }}</div>
                                                <div class="text-14 text-light-1">{{ reservation.user.email }}</div>
                                            </td>
                                            <td class="py-15 px-15">{{ reservation.dateAchat|date('Y-m-d') }}</td>
                                            <td class="py-15 px-15">
                                                <div class="fw-500">{{ reservation.nombre }}</div>
                                                <div class="text-14 text-light-1">$ {{ reservation.prixUnite }} each</div>
                                            </td>
                                            <td class="py-15 px-15">$ {{ reservation.prixTotal }}</td>
                                            <td class="py-15 px-15">
                                                <div class="rounded-100 py-4 px-15 text-center text-14 fw-500 
                                                    {% if reservation.statuts|lower == 'confirmed' %}bg-blue-1-05 text-blue-1
                                                    {% elseif reservation.statuts|lower == 'cancelled' %}bg-red-3 text-red-2
                                                    {% elseif reservation.statuts|lower == 'completed' %}bg-green-1 text-white
                                                    {% elseif reservation.statuts|lower == 'rejected' %}bg-red-3 text-red-2
                                                    {% else %}bg-yellow-4 text-yellow-3{% endif %}">
                                                    {{ reservation.statuts }}
                                                </div>
                                            </td>
                                            <td class="py-15 px-15">
                                                <div class="d-flex items-center">
                                                    {% if reservation.statuts|lower != 'confirmed' and reservation.statuts|lower != 'cancelled' and reservation.statuts|lower != 'rejected' %}
                                                    <button class="btn-sm px-15 py-10 text-white rounded-4 confirm-reservation" style="background-color: #3554D1;" data-id="{{ reservation.id }}" data-route="{{ path('app_reservation_update_status', {'id': reservation.id, 'status': 'Confirmed'}) }}">
                                                        <div class="d-flex items-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle mr-5" viewBox="0 0 16 16">
                                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                                            </svg>
                                                            <span>Confirm</span>
                                                        </div>
                                                    </button>
                                                    <button class="btn-sm px-15 py-10 text-white rounded-4 ml-10 reject-reservation" style="background-color: #D93025;" data-id="{{ reservation.id }}" data-route="{{ path('app_reservation_update_status', {'id': reservation.id, 'status': 'Rejected'}) }}">
                                                        <div class="d-flex items-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-circle mr-5" viewBox="0 0 16 16">
                                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                            </svg>
                                                            <span>Reject</span>
                                                        </div>
                                                    </button>
                                                    {% else %}
                                                    <button class="btn-sm px-15 py-10 rounded-4 bg-blue-1-05 text-15 fw-500 text-blue-1 view-details" data-id="{{ reservation.id }}">
                                                        <div class="d-flex items-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-info-circle mr-5" viewBox="0 0 16 16">
                                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                            </svg>
                                                            <span>View Details</span>
                                                        </div>
                                                    </button>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="reservation-details-{{ reservation.id }}" style="display: none;">
                                            <td colspan="8" class="p-0">
                                                <div class="bg-light-2 p-20 rounded-4 mt-10 mb-10">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h5 class="text-16 fw-500 mb-15">Customer Details</h5>
                                                            <div class="mb-5"><strong>Name:</strong> {{ reservation.user.name }} {{ reservation.user.lastname }}</div>
                                                            <div class="mb-5"><strong>Email:</strong> {{ reservation.user.email }}</div>
                                                            <div class="mb-5"><strong>Phone:</strong> {{ reservation.user.phone|default('Not provided') }}</div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <h5 class="text-16 fw-500 mb-15">Ticket Details</h5>
                                                            <div class="mb-5"><strong>Ticket Number:</strong> {{ billet.numero }}</div>
                                                            <div class="mb-5"><strong>Activity:</strong> {{ activity.activityName }}</div>
                                                            <div class="mb-5"><strong>Date Purchased:</strong> {{ reservation.dateAchat|date('Y-m-d H:i') }}</div>
                                                            <div class="mb-5"><strong>Price Per Ticket:</strong> $ {{ reservation.prixUnite }}</div>
                                                            <div class="mb-5"><strong>Total Price:</strong> $ {{ reservation.prixTotal }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                {% if not cancelledFound %}
                                    <tr>
                                        <td colspan="8" class="text-center py-20">No cancelled reservations found</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Add Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <script>
        // Admin interface JavaScript implementation with SweetAlert modals
        $(document).ready(function() {
            // Show reservation details in SweetAlert modal
            $('.view-details').on('click', function() {
                var customer = $(this).data('customer');
                var email = $(this).data('email');
                var phone = $(this).data('phone');
                var date = $(this).data('date');
                var activity = $(this).data('activity');
                var tickets = $(this).data('tickets');
                var priceEach = $(this).data('price-each');
                var total = $(this).data('total');
                var status = $(this).data('status');
                var ticketNumber = $(this).data('ticket-number');
                
                // Function to create status badge HTML
                function getStatusBadgeClass(status) {
                    status = status.toLowerCase();
                    if (status === 'confirmed') return 'bg-blue-1-05 text-blue-1';
                    if (status === 'pending') return 'bg-yellow-4 text-yellow-3';
                    if (status === 'completed') return 'bg-green-1 text-white';
                    if (status === 'rejected' || status === 'cancelled') return 'bg-red-3 text-red-2';
                    return 'bg-light-2 text-dark-1';
                }
                
                // Create beautifully formatted HTML for the modal
                var content = `
                    <div class="text-left p-1">
                        <!-- Reservation header with status -->
                        <div class="d-flex justify-content-between align-items-center mb-4 pb-2" style="border-bottom: 1px solid #eee;">
                            <div>
                                <h5 class="text-18 fw-500 mb-0">Reservation #${ticketNumber}</h5>
                                <div class="text-14 text-light-1">Created on ${date}</div>
                            </div>
                            <div>
                                <span class="rounded-100 py-4 px-15 text-center text-14 fw-500 ${getStatusBadgeClass(status)}">
                                    ${status}
                                </span>
                            </div>
                        </div>
                        
                        <!-- Information cards -->
                        <div class="row">
                            <!-- Customer info card -->
                            <div class="col-md-6 mb-3">
                                <div class="p-3 rounded-4" style="background-color: #f5f7fa; height: 100%;">
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="size-40 flex-center bg-blue-1 rounded-circle text-white mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                            </svg>
                                        </div>
                                        <h5 class="text-16 fw-500 mb-0 ml-2">Customer</h5>
                                    </div>
                                    <div class="mb-2 d-flex">
                                        <div class="text-14 text-light-1 mr-2 w-25">Name:</div>
                                        <div class="text-14 fw-500 w-75">${customer}</div>
                                    </div>
                                    <div class="mb-2 d-flex">
                                        <div class="text-14 text-light-1 mr-2 w-25">Email:</div>
                                        <div class="text-14 fw-500 w-75">${email}</div>
                                    </div>
                                    <div class="mb-0 d-flex">
                                        <div class="text-14 text-light-1 mr-2 w-25">Phone:</div>
                                        <div class="text-14 fw-500 w-75">${phone}</div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Activity info card -->
                            <div class="col-md-6 mb-3">
                                <div class="p-3 rounded-4" style="background-color: #f5f7fa; height: 100%;">
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="size-40 flex-center bg-blue-1 rounded-circle text-white mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-perforated-fill" viewBox="0 0 16 16">
                                                <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5Zm4-1v1h1v-1H4Zm1 3v-1H4v1h1Zm7 0v-1h-1v1h1Zm-1-2h1v-1h-1v1Zm-6 3H4v1h1v-1Zm7 1v-1h-1v1h1Zm-7 1H4v1h1v-1Zm7 1v-1h-1v1h1Zm-8 1v1h1v-1H4Zm7 1h1v-1h-1v1Z"/>
                                            </svg>
                                        </div>
                                        <h5 class="text-16 fw-500 mb-0 ml-2">Activity</h5>
                                    </div>
                                    <div class="mb-2">
                                        <div class="text-14 text-light-1 mb-1">Activity Name:</div>
                                        <div class="text-14 fw-500 mb-2">${activity}</div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="text-center mr-2">
                                            <div class="text-14 text-light-1 mb-1">Tickets</div>
                                            <div class="text-15 fw-500">${tickets}</div>
                                        </div>
                                        <div class="text-center mx-2">
                                            <div class="text-14 text-light-1 mb-1">Unit Price</div>
                                            <div class="text-15 fw-500">$${priceEach}</div>
                                        </div>
                                        <div class="text-center ml-2">
                                            <div class="text-14 text-light-1 mb-1">Total</div>
                                            <div class="text-15 fw-500 text-blue-1">$${total}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
                
                // Display SweetAlert modal with reservation details
                Swal.fire({
                    title: 'Reservation Details',
                    html: content,
                    icon: 'info',
                    confirmButtonColor: '#3554D1',
                    confirmButtonText: 'Close',
                    width: '600px',
                    customClass: {
                        container: 'my-swal-container',
                        popup: 'my-swal-popup',
                        content: 'my-swal-content'
                    }
                });
            });
            
            // SweetAlert confirmations for actions
            $('.confirm-reservation').on('click', function(e) {
                e.preventDefault();
                var url = $(this).data('route');
                
                Swal.fire({
                    title: 'Confirm Reservation',
                    text: 'Are you sure you want to confirm this reservation?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3554D1',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, confirm it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Submit form
                        var form = $('<form>', {
                            'method': 'POST',
                            'action': url
                        }).appendTo('body');
                        form.submit();
                    }
                });
            });
            
            $('.reject-reservation').on('click', function(e) {
                e.preventDefault();
                var url = $(this).data('route');
                
                Swal.fire({
                    title: 'Reject Reservation',
                    text: 'Are you sure you want to reject this reservation?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3554D1',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, reject it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Submit form
                        var form = $('<form>', {
                            'method': 'POST',
                            'action': url
                        }).appendTo('body');
                        form.submit();
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Animation styles */
        .hover-animation {
            transition: all 0.3s ease;
        }
        
        .hover-animation:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }
        
        /* Status badge styles */
        .status-badge {
            display: inline-block;
            padding: 4px 8px;
            border-radius: 12px;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
        }
        
        .status-badge-pending {
            background-color: #FFF4E5;
            color: #FF9800;
        }
        
        .status-badge-confirmed {
            background-color: #E8F5E9;
            color: #4CAF50;
        }
        
        .status-badge-rejected {
            background-color: #FEEBEE;
            color: #F44336;
        }
        
        .status-badge-cancelled {
            background-color: #ECEFF1;
            color: #607D8B;
        }
        
        /* Button styles */
        .action-btn {
            padding: 5px 10px;
            border: none;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            margin-right: 5px;
            transition: all 0.2s ease;
        }
        
        .confirm-btn {
            background-color: #3554D1;
            color: white;
        }
        
        .confirm-btn:hover {
            background-color: #2A43A5;
        }
        
        .reject-btn {
            background-color: #F44336;
            color: white;
        }
        
        .reject-btn:hover {
            background-color: #D32F2F;
        }
        
        .details-btn {
            background-color: #F5F5F5;
            color: #333;
        }
        
        .details-btn:hover {
            background-color: #E0E0E0;
        }
        
        /* Table styles */
        .reservation-table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            margin-top: 20px;
        }
        
        .reservation-table th {
            background-color: #F5F5F5;
            padding: 12px 15px;
            text-align: left;
            font-weight: 600;
            color: #333;
            border-bottom: 1px solid #DDD;
        }
        
        .reservation-table td {
            padding: 12px 15px;
            border-bottom: 1px solid #EEE;
        }
        
        .reservation-table tr:last-child td {
            border-bottom: none;
        }
        
        .reservation-table tr:hover {
            background-color: #F9F9F9;
        }
        
        /* Hide details rows initially */
        .reservation-details {
            display: none;
            background-color: #F5F5F5;
        }
        
        .reservation-details td {
            padding: 15px;
        }
        
        /* Empty state styles */
        .empty-state {
            text-align: center;
            padding: 50px 20px;
            color: #757575;
        }
        
        .empty-state i {
            font-size: 48px;
            margin-bottom: 20px;
            color: #BDBDBD;
        }
        
        .empty-state h3 {
            font-size: 24px;
            margin-bottom: 10px;
            color: #424242;
        }
        
        .empty-state p {
            font-size: 16px;
            max-width: 500px;
            margin: 0 auto;
        }
        
        /* Tab styles */
        .nav-tabs {
            border-bottom: 1px solid #DDD;
            margin-bottom: 20px;
        }
        
        .nav-tabs .nav-link {
            border: none;
            color: #757575;
            padding: 12px 15px;
            margin-right: 5px;
            border-bottom: 3px solid transparent;
            border-radius: 0;
            font-weight: 500;
            transition: all 0.2s ease;
        }
        
        .nav-tabs .nav-link:hover {
            color: #3554D1;
            border-bottom-color: #3554D1;
        }
        
        .nav-tabs .nav-link.active {
            color: #3554D1;
            background-color: transparent;
            border-bottom-color: #3554D1;
        }
    </style>
{% endblock %}
