{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<section data-anim-wrap class="layout-pt-md layout-pb-lg">
    <div class="container">
      <div data-anim-child="slide-up delay-1" class="row justify-center text-center">
        <div class="col-auto">
          <div class="sectionTitle -md">
            <h2 class="sectionTitle__title">Travel articles</h2>
            <p class="sectionTitle__text mt-5 sm:mt-0">Share your experiences with our amazing activities</p>
            
            <div class="mt-20">
              <a href="{{ path('app_blog_add') }}" class="button -md -blue-1 bg-blue-1 text-white">
                Create New Post <i class="icon-plus ml-10"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div data-anim-child="slide-up delay-2" class="tabs -pills-3 pt-30 js-tabs">
        <div class="tabs__controls row x-gap-10 justify-center js-tabs-controls">

          <div class="col-auto">
            <button class="tabs__button text-14 fw-500 px-20 py-10 rounded-4 bg-light-2 js-tabs-button is-tab-el-active" data-tab-target=".-tab-item-1">All Posts</button>
          </div>

          {% if activities is defined and activities|length > 0 %}
            {% for activity in activities %}
              <div class="col-auto">
                <a href="{{ path('app_blog_index') }}?activityId={{ activity.id }}" class="tabs__button text-14 fw-500 px-20 py-10 rounded-4 bg-light-2">
                  {{ activity.activityName }}
                </a>
              </div>
            {% endfor %}
          {% endif %}

        </div>

        <div class="tabs__content pt-30 js-tabs-content">

          <div class="tabs__pane -tab-item-1 is-tab-el-active">
            <div class="row y-gap-30">
              {% if posts is defined and posts|length > 0 %}
                {% for post in posts %}
                  <div class="col-lg-4 col-sm-6">
                    <a href="{{ path('app_blog_details', {'id': post.id}) }}" class="blogCard -type-1 d-block ">
                      <div class="blogCard__image">
                        <div class="ratio ratio-4:3 rounded-8">
                          {% if post.picture %}
                            <img class="img-ratio js-lazy" src="{{ asset('uploads/posts/' ~ post.picture) }}" data-src="{{ asset('uploads/posts/' ~ post.picture) }}" alt="{{ post.title }}">
                          {% else %}
                            <img class="img-ratio js-lazy" src="{{ asset('assets/img/blog/placeholder.png') }}" data-src="{{ asset('assets/img/blog/placeholder.png') }}" alt="No Image">
                          {% endif %}
                        </div>
                      </div>

                      <div class="pt-20">
                        <h4 class="text-dark-1 text-18 fw-500">{{ post.title }}</h4>
                        <div class="text-light-1 text-15 lh-14 mt-5">{{ post.date|date('M d, Y') }}</div>
                        <div class="text-light-1 text-15 lh-14 mt-5">
                          <span class="d-flex items-center">
                            <i class="icon-user text-16 mr-5"></i>
                            {{ users[post.userId].Name }} {{ users[post.userId].lastName }}
                          </span>
                        </div>
                        <div class="text-light-1 text-15 lh-14 mt-5">
                          <span class="d-flex items-center">
                            <i class="icon-tag text-16 mr-5"></i>
                            {{ activitiesById[post.activityId].activityName }}
                          </span>
                        </div>
                      </div>
                    </a>
                  </div>
                {% endfor %}
              {% else %}
                <div class="col-12 text-center">
                  <div class="py-50 px-20 rounded-4 bg-light-2">
                    <i class="icon-info-circle text-40 text-blue-1"></i>
                    <h3 class="text-22 fw-500 mt-20">No posts available yet</h3>
                    <p class="mt-10">Be the first to share your experience!</p>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
{% endblock %}